{% extends 'base.html.twig' %}

{% block title %}Accueil - Toukan{% endblock %}

{% block body %}
    <nav class="w-full h-16 flex flex-col md:flex-row justify-between items-center text-toukan-white font-bold mt-4 mb-10 md:px-20 px-2">
        <div class="flex flex-row justify-evenly items-center bg-toukan w-36 rounded-2xl p-2">
            <img class="w-1/3" src="{{ asset("assets/img/toukan_blanc.svg") }}">
            <h1>Toukan</h1>
        </div>
        <div class="flex flex-row justify-center items-center my-4 md:my-0">
            {% if app.user %}
            <a href="{{ path('login') }}" class="bg-toukan text-white rounded-3xl px-16 py-2">Mon Espace</a>
            {% else %}
                <a href="{{ path('subscribe') }}" class="bg-toukan text-white rounded-3xl px-16 py-2">S'inscrire</a>
            {% endif %}
        </div>
    </nav>

    <main class="md:px-20 px-4">
        <section class="flex flex-row justify-between py-20">
            <div class="md:w-4/6 w-full md:pr-8">
                <p class="text-base-back pb-4">Qu'est-ce que TOUKAN ?</p>
                <p class="text-base-back pb-4">Toukan est une application destinée à améliorer la gestion de commande au sein d’établissements de restauration. Grâce à elle, visualisez les commandes de votre service en direct et organisez vos déplacements en conséquence.  Améliorez votre expérience client en leur laissant la main mise sur le processus de commande.</p>
                <p class="text-base-back pb-4">Adoptez Toukan et découvrez le service du futur !</p>
                <div class="flex w-full md:justify-end justify-center items-center">
                    <div class="flex flex-col justify-center items-center">
                        <a href="" class="bg-dark-gray rounded-3xl text-white px-16 py-2">S'abonner</a>
                        <p class="pt-1">1 mois d’essai offert.</p>
                    </div>
                </div>
            </div>
            <div class="w-2/6 md:flex justify-center hidden">
                <img class="w-1/2" src="{{ asset('assets/img/mobile_and_meuf.svg') }}">
            </div>
        </section>
        <section class="flex md:flex-row flex-col justify-between py-10">
            <div class="md:w-1/4 w-full flex flex-col justify-center bg-white rounded-2xl p-8">
                <img class="h-1/2" src="{{ asset('assets/img/burger_and_mec.svg') }}">
                <hr class="my-8">
                <p class="text-base-back">Personnalisez votre menu au jour le jour afin de garder le contrôle sur l’actualité de votre carte et des disponibilités de vos produits.</p>
            </div>
            <div class="md:w-1/4 w-full flex flex-col justify-center bg-white rounded-2xl p-8 my-4 md:my-0">
                <img class="h-1/2" src="{{ asset('assets/img/la_maxi_binouze.svg') }}">
                <hr class="my-8">
                <p class="text-base-back">Laissez le temps à vos clients de choisir leur menu en toute sérénité et permettez leur de connaître les formules disponibles en temps réel.</p>
            </div>
            <div class="md:w-1/4 w-full flex flex-col justify-center bg-white rounded-2xl p-8">
                <img class="h-1/2" src="{{ asset('assets/img/le_mec_toque.svg') }}">
                <hr class="my-8">
                <p class="text-base-back">Fluidifiez votre service en allant uniquement la où on a besoin de vous. Ne perdez pas une miette de l’avancement des commandes de vos clients.</p>
            </div>
        </section>
        <section class="flex flex-row justify-center py-20">
            <div class="md:w-2/6 w-full flex justify-center items-center md:pr-8">
                <p class="font-bold text-3xl text-center md:text-left"><span class="text-toukan">153</span> établissements nous font confiance partout en France</p>
            </div>
            <div class="w-2/6 md:flex justify-center hidden">
                <img class="w-1/2" src="{{ asset('assets/img/serrage_de_main.svg') }}">
            </div>
        </section>
    </main>

    <footer class="w-full flex flex-col-reverse md:flex-row justify-between items-center text-white bg-gray-700 md:px-20 px-4 py-8 md:py-4">
        <div class="flex flex-col justify-center items-center md:w-1/4 w-full">
            <img class="w-1/3" src="{{ asset("assets/img/toukan_blanc.svg") }}">
            <h1 class="text-3xl">Toukan</h1>
        </div>
        <div class="flex flex-col justify-center items-start my-8 md:my-0 w-1/4">
            <h2 class="text-xl">Mon Compte</h2>
            <a href="{{ path('home') }}">Mon Compte</a>
            <a href="{{ path('home') }}">Mon Compte</a>
        </div>
        <div class="flex flex-row justify-evenly items-center md:w-1/4 w-full">
            <a href="https://twitter.com/"><i class="fab fa-twitter text-4xl"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook text-4xl"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram text-4xl"></i></a>
        </div>
    </footer>
{% endblock %}



