{% extends 'base.html.twig' %}

{% block title %}Accueil - Toukan{% endblock %}

{% block body %}
    <section class="flex flex-row justify-between py-20">
        <div class="md:w-4/6 w-full md:pr-8">
            <p class="text-base-back pb-4">Qu'est-ce que TOUKAN ?</p>
            <p class="text-base-back pb-4">Toukan est une application destinée à améliorer la gestion de commande au sein d’établissements de restauration. Grâce à elle, visualisez les commandes de votre service en direct et organisez vos déplacements en conséquence.  Améliorez votre expérience client en leur laissant la main mise sur le processus de commande.</p>
            <p class="text-base-back pb-4">Adoptez Toukan et découvrez le service du futur !</p>
            <div class="flex w-full md:justify-end justify-center items-center">
                <div class="flex flex-col justify-center items-center">
                    <a href="" class="bg-dark-gray rounded-3xl text-white px-16 py-2">S'abonner</a>
                    <p class="pt-1">1 mois d’essai offert.</p>
                </div>
            </div>
        </div>
        <div class="w-2/6 md:flex justify-center hidden">
            <img class="w-1/2" src="{{ asset('assets/img/mobile_and_meuf.svg') }}">
        </div>
    </section>
    <section class="flex md:flex-row flex-col justify-between py-10">
        <div class="md:w-1/4 w-full flex flex-col justify-center bg-white rounded-2xl p-8">
            <img class="h-1/2" src="{{ asset('assets/img/burger_and_mec.svg') }}">
            <hr class="my-8">
            <p class="text-base-back">Personnalisez votre menu au jour le jour afin de garder le contrôle sur l’actualité de votre carte et des disponibilités de vos produits.</p>
        </div>
        <div class="md:w-1/4 w-full flex flex-col justify-center bg-white rounded-2xl p-8 my-4 md:my-0">
            <img class="h-1/2" src="{{ asset('assets/img/la_maxi_binouze.svg') }}">
            <hr class="my-8">
            <p class="text-base-back">Laissez le temps à vos clients de choisir leur menu en toute sérénité et permettez leur de connaître les formules disponibles en temps réel.</p>
        </div>
        <div class="md:w-1/4 w-full flex flex-col justify-center bg-white rounded-2xl p-8">
            <img class="h-1/2" src="{{ asset('assets/img/le_mec_toque.svg') }}">
            <hr class="my-8">
            <p class="text-base-back">Fluidifiez votre service en allant uniquement la où on a besoin de vous. Ne perdez pas une miette de l’avancement des commandes de vos clients.</p>
        </div>
    </section>
    <section class="flex flex-row justify-center py-20">
        <div class="md:w-2/6 w-full flex justify-center items-center md:pr-8">
            <p class="font-bold text-3xl text-center md:text-left"><span class="text-toukan">153</span> établissements nous font confiance partout en France</p>
        </div>
        <div class="w-2/6 md:flex justify-center hidden">
            <img class="w-1/2" src="{{ asset('assets/img/serrage_de_main.svg') }}">
        </div>
    </section>
{% endblock %}



