{% extends 'establishment/base.html.twig' %}

{% block title %}En direct{% endblock %}

{% block body %}

    <div class="menu-container">
        <div class="menu">
            <div class="in-progress">
                Commandes en cours
            </div>
            <a href="" class="to-pay">
                A régler
            </a>
        </div>
    </div>

    <div class="orders-section">
        <div class="orders-container">
            {% for order in orders %}
                <div class="order">
                    <div class="order-table-number">
                        {{ order.establishmentTable.number }}
                    </div>
                    <div class="order-received-at">
                        reçue à {{ order.createdAt | date('H:i') }}
                    </div>
                    {% set total = 0 %}
                    {% for product in order %}
                        <div class="order-info-1">
                            <div class="order-product-quantity">
                                {{ product.quantity }} {{ product.getProduct().getTitle() }}
                            </div>
                            <div class="order-product-price">
                                {{ product.getProduct().getPrice() * product.quantity }}€
                            </div>
                        </div>
                        <div class="order-info-2">
                            <div class="order-choosable-items">
                                {% if product.getSauce() %}• {{ product.getSauce().getTitle() }}{% endif %}
                                {% if product.getDessert() %}• {{ product.getDessert().getTitle() }}{% endif %}
                                {% if product.getDrink() %}• {{ product.getDrink().getTitle() }}{% endif %}
                            </div>
                        </div>
                            {% set total = total + product.getProduct().getPrice() * product.getQuantity() %}
                    {% endfor %}
                </div>
                <hr class="hr">
                <div class="right-container">
                    <div class="total-title">
                        TOTAL
                    </div>
                    <div class="total-text">
                        {{ total }}€
                    </div>
                    <a href="" class="order-status">
                        Commande servie
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const eventSource = new EventSource("{{ mercure('toukan/order/confirm')|escape('js') }}");
            eventSource.onmessage = event => {
                console.log(JSON.parse(event.data));
            }
        });
    </script>
{% endblock %}
