{% extends 'client/client-base.html.twig' %}
{% trans_default_domain 'client' %}
{% block title %}Menu{% endblock %}

{% block body %}

<style>
    .custom-shadow { box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25); }
    .max-height { height:150px; width:auto;}
</style>

<ul class="flex m-3 font-bold bg-light-gray">
    {% for section in card.sections %}
        <li class="m-1"><a href="#{{section.title}}">{{section.title}}</a></li>
    {% endfor %}
    <li class="m-1"><a href="#autres">Autres</a></li>
</ul>


    {% for section in card.sections %}
        <div id="{{section.title}}" class="mb-20">
            <h3 class="border-toukan w-min m-3 border-2 text-2xl border-solid rounded-2xl pl-2 pr-2">{{section.title}}</h3>
            <div class="flex justify-around flex-wrap">
                {% for product in section.products %}
                    <div class="relative flex justify-between flex-col rounded-2xl custom-shadow m-2 w-5/12">
                        <div onclick="showDetails({{ product.id }})">
                            <img class="text-center w-11/12 m-auto max-height" src="{{asset('uploads/products/'~card.establishment.id~'/'~product.image)}}">
                            <div class="h-px w-9/12 bg-black m-auto"></div>
                            <h4 class="text-center my-1 w-11/12 m-auto">{{product.title}}</h4>
                            <p class="border-solid bg-white border-toukan rounded-2xl pl-2 pr-2 border-2 absolute top-2 left-2">{{product.price|number_format(2, '.', ',')}} €</p>
                            {% if product.type %}
                                <p class="text-center w-11/12 m-auto">{{product.type}}</p>
                            {% endif %}
                        </div>
                        <div id="add-product" class="bg-toukan cursor-pointer flex w-full text-center p-2 rounded-b-2xl text-white justify-center" aria-valuetext="{{ product.id }}">Ajouter au panier</div>
                    </div>
                    <div id="details-{{ product.id }}" class="fixed w-full h-full text-center top-0 z-10 overflow-hidden hidden bg-white p-4">
                        <div class="flex justify-center items-center h-full w-full">
                            <div class="h-full w-full">
                                <div class="flex justify-between items-center mb-12">
                                    <div class=""><i onclick="showDetails({{ product.id }})" class="fa-solid fa-2xl fa-arrow-left mr-2"></i>Retour</div>
                                    <h2 class="border-solid w-auto text-xl border-toukan rounded-2xl ml-5 pl-2 pr-2 border-2">{{product.title}}</h2>
                                </div>
                                <img class="text-center w-11/12 m-auto mt-2 max-height" src="{{asset('uploads/products/'~card.establishment.id~'/'~product.image)}}">
                                <p class="border-solid bg-white rounded-2xl pl-2 pr-2 border-2 absolute -mt-6 ml-12">{{product.price|number_format(2, '.', ',')}} €</p>
                                <div class="h-1 mt-2 mb-4 my-1 w-9/12 bg-black m-auto"></div>
                                {% if product.description %}
                                    <p class="text-center w-11/12 m-auto">{{product.description}}</p>
                                {% endif %}
                                {% if product.type == 'menu' %}
                                    <h3 class="ml-4 my-2 text-left text-2xl font-bold">
                                        <i class="fa-solid fa-clipboard"></i>
                                        <span>Menu</span>
                                        <hr class="bg-toukan w-1/2 h-0.5">
                                    </h3>
                                    <p class="ml-4 text-left">{{ product.menuInformation }}</p>
                                    {% if product.drinkChoosable %}
                                        <div class="flex flex-wrap">
                                            <select class="ml-4 text-left" name="drink" id="drink-selector-{{ product.id }}">
                                                <option value="0">-- Boisson --</option>
                                                {% for boisson in section.products %}
                                                    {% if boisson.type == 'drink' %}
                                                        <option value="{{ boisson.id }}">{{ boisson.title }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                    {% if product.dessertChoosable %}
                                        <div class="flex flex-wrap">
                                            <select class="ml-4 text-left" name="dessert" id="dessert-selector-{{ product.id }}">
                                                <option value="0">-- Dessert --</option>
                                                {% for dessert in section.products %}
                                                    {% if dessert.type == 'dessert' %}
                                                        <option value="{{ dessert.id }}">{{ dessert.title }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                {% elseif product.ingredients %}
                                    <h3 class="ml-4 my-2 text-left text-2xl font-bold">
                                        <i class="fa-solid fa-carrot"></i>
                                        <span>{{ 'card.ingredients'|trans }}</span>
                                        <hr class="bg-toukan w-1/2 h-0.5">
                                    </h3>
                                    <p class="ml-4 text-left">{{ product.ingredients }}</p>
                                {% endif %}
                                {% if product.allergens %}
                                    <h3 class="ml-4 my-2 text-left text-2xl font-bold">
                                        <i class="fa-solid fa-seedling"></i>
                                        <span>{{ 'card.allergens'|trans }}</span>
                                        <hr class="bg-toukan w-1/2 h-0.5">
                                    </h3>
                                    <p class="ml-4 text-left">{{ product.allergens }}</p>
                                {% endif %}
                                {% if product.sauceChoosable and card.sauces|length>0 %}
                                    <h3 class="ml-4 text-left text-2xl font-bold mb-2 flex">
                                        <img class="custom-icon"
                                             src="{{ asset('assets/img/icons/icon_sauce_black.svg') }}" alt="">
                                        <span>Sauce</span>
                                    </h3>
                                    <hr class="bg-toukan w-1/2 h-0.5">
                                    <div class="flex flex-wrap">
                                        <select class="ml-4 my-2 text-left" name="sauce" id="sauce-selector-{{ product.id }}">
                                            <option value="0">-- Sauce --</option>
                                            {% for sauce in card.sauces %}
                                                <option value="{{ sauce.id }}">{{ sauce.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                <div onclick="showDetails({{ product.id }})" id="add-product" class="bg-toukan cursor-pointer flex m-auto mt-12 text-center p-2 rounded-2xl text-white justify-center" aria-valuetext="{{ product.id }}">Ajouter au panier</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    
    <a href="{{ path('client_order_basket', {'establishment':establishment.id, 'table':table.id, 'order':order.id}) }}" class="bg-cover z-50 w-full bottom-0 fixed flex justify-center flex-col">
        <i class="text-center z-20 text-white text-3xl fa-solid fa-cart-shopping"></i>
        <div id="client-basket" class="text-center pb-2 text-2xl z-20 text-white">Panier ({{ nbrProducts }})</div>
        <svg class="absolute" viewBox="0 0 375 85" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M191 1.0407C91.8 0.240703 22.3333 11.3742 0 22.0408V128.041H375V22.0408C355 12.0408 290.2 1.8407 191 1.0407Z" fill="#2E2E2E" stroke="black"/>
        </svg>
    </a>

    <script>
        function showDetails(id) {
            document.getElementById('details-'+id).classList.toggle('hidden');
        }

        document.querySelectorAll('#add-product').forEach(function(e) {
            e.addEventListener('click', function() {
                makeRequest(e)
            });
        });

        function makeRequest(e) {
            let product = e.getAttribute("aria-valuetext");
            let sauce = document.getElementById('sauce-selector-'+product)?.value;
            let drink = document.getElementById('drink-selector-'+product)?.value;
            let dessert = document.getElementById('dessert-selector-'+product)?.value;
            let blankUrl = `{{ path('client_order_add_product', {'establishment':establishment.id, 'table':table.id, 'order':order.id, 'product':'productId', 'sauce':'sauceId', 'drink':'drinkId', 'dessert':'dessertId'}) }}`
            let url = blankUrl.replace('productId', product).replace('sauceId', sauce).replace('drinkId', drink).replace('dessertId', dessert);
            console.log(url)

            fetch(url).then(function (response) {
                return response.json();
            }).then(function (data) {
                document.getElementById("client-basket").innerHTML = data.nbrProducts;
            });
        }
    </script>
{% endblock %}

