{% extends 'client/client-base.html.twig' %}

{% block title %}Hello CardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .custom-shadow { box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25); }
    .max-height { height:150px; width:auto;}
</style>

<ul class="flex sticky w-full z-10 p-3 font-bold bg-light-gray">
    {% for section in card.sections %}
        <li class="m-1"><a href="#{{section.title}}">{{section.title}}</a></li>
    {% endfor %}
    <li class="m-1"><a href="#autres">Autres</a></li>
</ul>

{% for section in card.sections %}
    <div id="{{section.title}}">
        <h3 class="border-toukan w-min m-3 border-2 text-2xl border-solid rounded-2xl pl-2 pr-2">{{section.title}}</h3>
        <div class="flex justify-around flex-wrap">
            {% for product in section.products %}
                <div class="relative flex justify-between flex-col rounded-2xl custom-shadow m-2 w-5/12">
                    <img class="text-center w-11/12 m-auto max-height" src="{{asset('assets/uploads/'~card.establishment.id~'/'~product.image)}}">
                    <div class="h-px w-9/12 bg-black m-auto"></div>
                    <h4 class="text-center w-11/12 m-auto">{{product.title}}</h4>
                    <p class="border-solid bg-white border-toukan rounded-2xl pl-2 pr-2 border-2 absolute top-2 left-2">{{product.price|number_format(2, '.', ',')}} €</p>
                    {% if product.type %}
                        <p class="text-center w-11/12 m-auto">{{product.type}}</p>
                    {% endif %}
                    <a class="bg-toukan flex w-full text-center p-2 rounded-b-2xl text-white justify-center" href="">Ajouter au panier</a>
                </div>
            {% endfor %}
        </div>
    <div>
{% endfor %}
{% endblock %}
