{% extends 'client/client-base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}

{% for section in card.sections %}
    <div id="{{section.title}}">
        <h3 class="border-toukan w-min m-3 border-2 text-2xl border-solid rounded-2xl pl-2 pr-2">{{section.title}}</h3>
        <div class="flex justify-around flex-wrap">
            {% for product in section.products %}
                <div class="relative flex justify-between flex-col rounded-2xl custom-shadow m-2 w-5/12">
                    <img class="text-center w-11/12 m-auto max-height" src="{{asset('assets/uploads/'~card.establishment.id~'/'~product.image)}}">
                    <div class="h-px w-9/12 bg-black m-auto"></div>
                    <h4 class="text-center w-11/12 m-auto">{{product.title}}</h4>
                    <p class="border-solid bg-white border-toukan rounded-2xl pl-2 pr-2 border-2 absolute top-2 left-2">{{product.price|number_format(2, '.', ',')}} €</p>
                    {% if product.type %}
                        <p class="text-center w-11/12 m-auto">{{product.type}}</p>
                    {% endif %}
                    <div id="add-product" class="bg-toukan cursor-pointer flex w-full text-center p-2 rounded-b-2xl text-white justify-center" aria-valuetext="{{ product.id }}">Ajouter au panier</div>
                </div>
            {% endfor %}
        </div>
    <div>
{% endfor %}
        <div id="client-basket" class="text-3xl">{{ nbrProducts }}</div>

        <script>
            document.querySelectorAll('#add-product').forEach(function(e) {
                e.addEventListener('click', function() {
                    makeRequest(e)
                });
            });

            function makeRequest(e) {
                let product = e.getAttribute("aria-valuetext");
                let blankUrl = `{{ path('client_order_add_product', {'establishment':establishment.id, 'table':table.id, 'order':order.id, 'product':'productId'}) }}`
                let url = blankUrl.replace('productId', product);

                fetch(url).then(function (response) {
                    return response.json();
                }).then(function (data) {
                    document.getElementById("client-basket").innerHTML = data.nbrProducts;
                });
            }
        </script>
{% endblock %}
