{% set menu = 'false' %}
{% if product.id is null %}
    {% set menu = 'false' %}
{% else %}
    {% if product.isMenu == true %}
            {% set menu = 'true' %}
        {% elseif product.isMenu == false or product.isMenu is null %}
            {% set menu = 'false' %}
    {% endif %}
{% endif %}

<div x-data="{menu: {{ menu }} }">
    {{ form_start(form) }}
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}

    {{ form_label(form.price) }}
    {{ form_errors(form.price) }}
    {{ form_widget(form.price) }}

    <div id="product{{ product.id is not null ? '_'~product.id}}">
        {{ form_label(form.isMenu) }}
        {{ form_widget(form.isMenu) }}
    </div>


    <div x-show="menu">
        {{ form_label(form.menuInformation) }}
        {{ form_widget(form.menuInformation) }}
    </div>

    <div x-show="!menu">
        {{ form_label(form.ingredients) }}
        {{ form_widget(form.ingredients) }}
    </div>


    {{ form_label(form.allergens) }}
    {{ form_widget(form.allergens) }}

    {{ form_label(form.sauce_choosable) }}
    {{ form_widget(form.sauce_choosable) }}

    {{ form_label(form.available) }}
    {{ form_widget(form.available) }}

    {{ form_label(form.image) }}
    {{ form_widget(form.image) }}

    {{ form_label(form.save) }}
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
</div>

<script>
    document.querySelector('#product{{ product.id is not null ? '_'~product.id}} input').setAttribute('x-on:click', 'menu = !menu');
</script>

