<p>{{ user.email }}</p>
<p>{{ establishment.name }}</p>
<p>{{ establishment.address['street'] }}, {{ establishment.address['zipcode'] }} {{ establishment.address['city'] }}</p>
<p>{{ establishment.phone }}
    <button id="button-edit-info" type="button" class="transition duration-150 ease-in-out mt-3" data-bs-toggle="modal"
            data-bs-target="#modal-form-edit-establishment">
        <i class="fas fa-pen"></i>
    </button>
</p>