<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
     id="{{ modal_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none">
        <div
                class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div
                    class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLabel">{{ modal_title }}</h5>
                <button type="button"
                        class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                        data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body relative p-4">

                {% if context == 'section-create' %}
                    <div id="form-create-section">
                        {{ render(controller('App\\Controller\\Establishment\\SectionController::new')) }}
                    </div>
                {% elseif context == 'section-edit' %}
                    <div id="form-edit-section">
                        <!--En utilisant un turbo frame pour l'edition, on peut utiliser la même modal pour toutes les sections-->
                        <turbo-frame id="frame-edit-section">

                        </turbo-frame>
                    </div>
                {% elseif context == 'section-product-create' %}
                    <div id="form-section-create-product">
                        <turbo-frame id="frame-section-create-product"></turbo-frame>
                    </div>
                {% elseif context == 'section-product-edit' %}
                    <div id="form-section-edit-product">
                        <turbo-frame id="frame-section-edit-product"></turbo-frame>
                    </div>
                {% elseif context == 'sauce-create' %}
                    <div id="form-create-sauce">
                        {{ render(controller('App\\Controller\\Establishment\\SauceController::new')) }}
                    </div>
                {% elseif context == 'sauce-edit' %}
                    <div id="form-edit-sauce">
                        <turbo-frame id="frame-edit-sauce">

                        </turbo-frame>
                    </div>
                {% elseif context == 'establishment-information-edit' %}
                    <div id="form-edit-establishment-information">
                       {{ render(controller('App\\Controller\\Establishment\\EstablishmentManageController::editInformation', {establishment: establishment.id})) }}
                    </div>
                {% elseif context == 'establishment-password-edit' %}

                {% endif %}
            </div>
        </div>
    </div>
</div>