    <table class="mt-5">
        <thead>
        <th>
            {{ 'sauces'|trans({}, 'card_management') }}
        </th>
        </thead>

        <tbody>
        {% for sauce in card.sauces %}
            <tr>
                <td>
                    {{ sauce.title }}
                </td>
                <td>
                    <button type="button" onclick="set_frame_src({{ sauce.id }}, 'section_sauce_edit')" class="transition duration-150 ease-in-out admin-button-edit" data-bs-toggle="modal" data-bs-target="#modal-form-edit-sauce">
                        Modifier
                    </button>
                </td>
                <td>
                    <form method="post" action="{{ path('app_sauce_delete', {'id': sauce.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sauce.id) }}">
                        <button class="btn admin-button-delete">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'no_sauce'|trans({}, 'card_management') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
