<form action="">
    <table class="table">
        <thead>
        <tr>
            <th>Nom/N° Table</th>
            <th>Modifier</th>
            <th>Qr Code</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for table in tables %}
            <tr>
                <td>{{ table.number }}</td>
                <td>
                    <input type="checkbox" value="{{ table.id }}" name="qrCodeToPrint[]">
                    <button type="button" onclick="set_frame_src({{ table.id }}, 'table_edit')" class="transition duration-150 ease-in-out admin-button-edit" data-bs-toggle="modal" data-bs-target="#modal-form-edit-table">
                        <i class="fa-solid fa-pen"></i> Modifier
                    </button>
                </td>
                <td>

                    <a href="https://sucepute.fr" class="btn admin-button-edit"> <i class="fa-solid fa-print"></i>Imprimer QrCode</a>
                </td>
                <td>
                    <form method="post" action="{{ path('app_table_delete', {'id': table.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette table ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ table.id) }}">
                        <button class="btn admin-button-delete"> <i class="fa-solid fa-trash"></i> Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune table</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn admin-button-edit" type="submit"><i class="fa-solid fa-print"></i> Imprimer la sélection</button>
</form>
