{% use 'tailwind_2_layout.html.twig' %}

  {%- block form_row -%}
  {%- set row_class = row_class|default('mt-6') -%}
  {{- parent() -}}
  {%- endblock form_row -%}

  {#{%- block form_help -%}#}
    {#    {%- set help_class = help_class|default('my label classes') -%}#}
      {#    {{- parent() -}}#}
        {#{%- endblock form_help -%}#}

          {#{%- block form_errors -%}#}
            {#    {%- set error_item_class = error_item_class|default('my error item classes') -%}#}
              {#    {{- parent() -}}#}
                {#{%- endblock form_errors -%}#}

                  {%- block form_label -%}
                  {%- set label_class = label_class|default('form-label') -%}
                  {{- parent() -}}
                  {%- endblock -%}

                  {%- block widget_attributes -%}
                  {%- set widget_class = widget_class|default('form-text') -%}
                  {{- parent() -}}
                  {%- endblock -%}

                  {%- block checkbox_row -%}
                  {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('mt-4')) }) -%}
                  {%- set widget_attr = {} -%}
                  {%- if help is not empty -%}
                  {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
                  {%- endif -%}
                  <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
                  {{- form_errors(form) -}}
                  <div class="inline-flex items-center">
                      {{- form_widget(form, widget_attr) -}}
                      {{- form_label(form) -}}
                  </div>
                  {{- form_help(form) -}}
                  </div>
                  {%- endblock checkbox_row -%}

                  {%- block checkbox_widget -%}
                  {%- set widget_class = widget_class|default('mr-2 rounded border-gray-300 text-green-600 shadow-sm focus:border-green-300 focus:ring focus:ring-offset-0 focus:ring-green-200 focus:ring-opacity-50') -%}
                  {{- parent() -}}
                  {%- endblock -%}

                  {%- block checkbox_label -%}
                  {%- set label_class = label_class|default('block text-gray-800') -%}
                  {{- block('form_label') -}}
                  {%- endblock -%}