<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Toukan{% endblock %} | Toukan</title>
        <link rel="icon" type="image/png" href="{{ asset("assets/img/toukan.png") }}" />
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('style') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="{{ app.request.attributes.get('_route') == 'home' ? 'bg-salmon' }} flex flex-row min-h-screen h-full relative w-full">
        {% include 'establishment/header.html.twig' %}
        <div class="block w-full">
            {% if subscriptionActive is defined %}
                {% if not subscriptionActive %}
                    {{ include('establishment/partials/no_subscription_alert.html.twig') }}
                {% endif %}
            {% endif %}
            <div class="p-2">
                {% block body %}{% endblock %}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    </body>
</html>
