{% trans_default_domain 'navbar' %}
<aside class="block w-max bg-toukan h-screen sticky top-0 p-4 text-xl no-print" data-turbo="false">
    <nav class="flex flex-col justify-between h-full">
        <ul>
            <li class="py-2">
                <a class="whitespace-nowrap" href="{{ path('establishment_card_index') }}">
                    <i class="fa-solid fa-clipboard-list fa-fw pr-1"></i>
                    {{ 'card'|trans({}, 'navbar') }}
                </a>
            </li>
            <li class="py-2">
                <a class="whitespace-nowrap" href="{{ path('app_table_index') }}">
                    <i class="fa-solid fa-table fa-fw pr-1"></i>
                    {{ 'tables'|trans({}, 'navbar') }}
                </a>
            </li>
            <li class="py-2">
                <a class="whitespace-nowrap" href="{{ path('establishment_dashboard') }}">
                    <i class="fa-solid fa-chart-line fa-fw pr-1"></i>
                    {{ 'dashboard'|trans({}, 'navbar') }}
                </a>
            </li>
            <li class="py-2">
                <a href="{{ path('app_establishment_manage') }}">
                    <i class="fa-solid fa-user fa-fw pr-1"></i>
                    {{ 'profile'|trans({}, 'navbar') }}
                </a>
            </li>
        </ul>
        <ul>
            <li class="py-2">
                <a class="text-red-500" href="{{ path('app_logout') }}">
                    <i class="fa-solid fa-power-off fa-fw pr-1"></i>
                    {{ 'logout'|trans({}, 'navbar') }}
                </a>
            </li>
        </ul>
    </nav>
</aside>