{% extends 'base.html.twig' %}
{% trans_default_domain 'form' %}
{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'email'|trans
        }) }}
        {{ form_row(registrationForm.name, {
            label: 'establishment_name'|trans
        }) }}
        {{ form_row(registrationForm.type, {
            label: 'establishment_type'|trans
        }) }}
        {{ form_row(registrationForm.street, {
            label: 'establishment_address'|trans
        }) }}
        {{ form_row(registrationForm.city, {
            label: 'establishment_city'|trans
        }) }}
        {{ form_row(registrationForm.zipcode, {
            label: 'establishment_zip_code'|trans
        }) }}
        {{ form_row(registrationForm.phone, {
            label: 'establishment_phone'|trans
        }) }}
        {{ form_row(registrationForm.password.first, {
            label: 'password'|trans
        }) }}
    {{ form_row(registrationForm.password.second, {
        label: 'password_confirmation'|trans
    }) }}

        {{ form_row(registrationForm.agreeTerms,{
            label: 'accept_terms'|trans
        }) }}

        <button type="submit" class="btn">{{ 'sign_up'|trans }}</button>

        <a href="{{ path('login') }}" class="btn btn-lg btn-primary">
            {{ 'log_in'|trans }}
        </a>
    {{ form_end(registrationForm) }}
{% endblock %}
