{% extends 'base.html.twig' %}

{% block title %}Inscription - Toukan{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name, {
            label: 'Nom de l\'établissement'
        }) }}
        {{ form_row(registrationForm.password) }}
        {{ form_row(registrationForm.password_confirm) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms,{
            label: 'Accepter les conditions d\'utilisation : '
        }) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
