{% extends 'base.html.twig' %}

{% block title %}Inscription - Toukan{% endblock %}

{% block body %}
<div>
    <a href="{{ path('home') }}" class="btn absolute top-0 left-0 p-8">
        <i class="fa-solid fa-arrow-left pr-2"></i>Retour
    </a>
    {{ form_start(registrationForm, {'attr':{'class':'flex justify-center items-center w-full h-full text-center p-2'}}) }}
        <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col justify-center items-center mt-10">
            <div class="w-full flex justify-center items-center mb-10">
                <img class="w-1/4" src="{{asset('assets/img/toukan.png')}}">
            </div>

            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger py-2 text-red-600 font-bold" role="alert">{{ flashError }}</div>
            {% endfor %}
            {{form_errors(registrationForm, {'attr':{'class':'py-2 text-red-600 font-bold'}}) }}

            <div class="w-full px-2">
                {{form_label(registrationForm.email)}}
                {{form_widget(registrationForm.email)}}
            </div>

            <div class="w-full flex justify-center">
                <div class="px-2 w-1/2">
                    {{form_label(registrationForm.name)}}
                    {{form_widget(registrationForm.name)}}
                </div>
                <div class="px-2 w-1/2">
                    {{form_label(registrationForm.type)}}
                    {{form_widget(registrationForm.type)}}
                </div>
            </div>

            <div class="w-full flex justify-center">
                <div class="px-2 w-1/2">
                    {{form_label(registrationForm.address)}}
                    {{form_widget(registrationForm.address)}}
                </div>
                <div class="px-2 w-1/2">
                    {{form_label(registrationForm.phone)}}
                    {{form_widget(registrationForm.phone)}}
                </div>
            </div>

            <div class="w-full flex justify-center">
                <div class="px-2 w-1/2">
                    {{form_label(registrationForm.password.first)}}
                    {{form_widget(registrationForm.password.first, {'attr':{'class':'form-control text-center border-b-2 border-toukan mb-10 p-2 w-full'}})}}
                </div>
                <div class="px-2 w-1/2">
                    {{form_label(registrationForm.password.second)}}
                    {{form_widget(registrationForm.password.second, {'attr':{'class':'form-control text-center border-b-2 border-toukan mb-10 p-2 w-full'}})}}
                </div>
            </div>

            <div class="w-full">
                {{form_widget(registrationForm.agreeTerms)}}
                {{form_label(registrationForm.agreeTerms)}}
            </div>

            <button class="bg-toukan text-white rounded-3xl px-16 py-2 mb-2" type="submit">
                S'inscrire
            </button>

            <a href="{{ path('login') }}" class="btn underline">
                Se connecter
            </a>
        </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
