{% extends 'base.html.twig' %}
{% trans_default_domain 'form' %}
{% block title %}Inscription{% endblock %}

{% block body %}
<div>
    <a href="{{ path('home') }}" class="btn absolute top-0 left-0 p-8">
        <i class="fa-solid fa-arrow-left pr-2"></i>Retour
    </a>
    {{ form_start(registrationForm, {'attr':{'class':'flex justify-center items-center w-full h-full text-center px-2 py-8'}}) }}
        <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col justify-center items-center">
            <div class="w-full flex justify-center items-center mb-10">
                <img class="w-1/4" src="{{asset('assets/img/toukan_orange_text.png')}}">
            </div>

            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger py-2 text-red-600 font-bold" role="alert">{{ flashError }}</div>
            {% endfor %}
            {{form_errors(registrationForm, {'attr':{'class':'py-2 text-red-600 font-bold'}}) }}
            {{form_errors(registrationForm.password.first, {'attr':{'class':'py-2 text-red-600 font-bold'}}) }}

            <div class="w-full px-2">
                {{form_label(registrationForm.email)}}
                {{form_widget(registrationForm.email)}}
            </div>
        </div>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'email'|trans
        }) }}
        {{ form_row(registrationForm.name, {
            label: 'establishment_name'|trans
        }) }}
        {{ form_row(registrationForm.type, {
            label: 'establishment_type'|trans
        }) }}
        {{ form_row(registrationForm.street, {
            label: 'establishment_address'|trans
        }) }}
        {{ form_row(registrationForm.city, {
            label: 'establishment_city'|trans
        }) }}
        {{ form_row(registrationForm.zipcode, {
            label: 'establishment_zip_code'|trans
        }) }}
        {{ form_row(registrationForm.phone, {
            label: 'establishment_phone'|trans
        }) }}
        {{ form_row(registrationForm.password.first, {
            label: 'password'|trans
        }) }}
    {{ form_row(registrationForm.password.second, {
        label: 'password_confirmation'|trans
    }) }}

        {{ form_row(registrationForm.agreeTerms,{
            label: 'accept_terms'|trans
        }) }}

        <button type="submit" class="btn">{{ 'sign_up'|trans }}</button>

        <a href="{{ path('login') }}" class="btn btn-lg btn-primary">
            {{ 'log_in'|trans }}
        </a>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
