{% extends 'base.html.twig' %}

{% block title %}Ma carte{% endblock %}

{% block body %}
    <h1 class="border-2 border-gray-300">Ma carte</h1>
    <div id="establishment-card">
        {% include 'establishment/partials/card.html.twig' %}
    </div>

    <!-- Button trigger modal -->
    <button id="button-add-section" type="button" class="transition duration-150 ease-in-out admin-button-add mt-3" data-bs-toggle="modal" data-bs-target="#modal-form-create-section">
        Ajouter une section
    </button>
    <button id="button-add-sauce" type="button" class="transition duration-150 ease-in-out admin-button-add mt-3 flex" data-bs-toggle="modal" data-bs-target="#modal-form-create-sauce">
        Ajouter une sauce <img class="custom-icon" src="{{ asset('assets/img/icons/icon_sauce.svg') }}" alt="">
    </button>

    <div id="establishment-sauces">
        {% include 'establishment/partials/sauces.html.twig' %}
    </div>

    <!-- Modals -->
    {% include 'establishment/partials/_modal.html.twig' with {'modal_id' : 'modal-form-create-section', 'modal_title' : 'Section', 'context' : 'section-create'} %}
    {% include 'establishment/partials/_modal.html.twig' with {'modal_id' : 'modal-form-edit-section', 'modal_title' : 'Section', 'context' : 'section-edit'} %}
    {% include 'establishment/partials/_modal.html.twig' with {'modal_id' : 'modal-form-section-create-product', 'modal_title' : 'Produit', 'context' : 'section-product-create'} %}
    {% include 'establishment/partials/_modal.html.twig' with {'modal_id' : 'modal-form-edit-product', 'modal_title' : 'Produit', 'context' : 'section-product-edit'} %}
    {% include 'establishment/partials/_modal.html.twig' with {'modal_id' : 'modal-form-create-sauce', 'modal_title' : 'Sauce', 'context' : 'sauce-create'} %}
    {% include 'establishment/partials/_modal.html.twig' with {'modal_id' : 'modal-form-edit-sauce', 'modal_title' : 'Sauce', 'context' : 'sauce-edit'} %}

    <script>
        function set_frame_src(entity_id, context){
            let path = ''
            switch(context) {
                case 'section_edit':
                    path = '{{ path('app_section_edit', {'id' : 'id'}) }}'
                    path = path.replace('id', entity_id)
                    document.getElementById('frame-edit-section').src = path;
                    break;
                case 'section_product_create' :
                    path = '{{ path('app_section_product_create', {'id' : 'id'}) }}'
                    path = path.replace('id', entity_id)
                    document.getElementById('frame-section-create-product').src = path;
                    break;
                case 'section_product_edit' :
                    path = '{{ path('app_section_product_edit', {'product' : 'id'}) }}'
                    path = path.replace('id', entity_id)
                    document.getElementById('frame-section-edit-product').src = path;
                    break;

                case 'section_sauce_edit':
                    path = '{{ path('app_sauce_edit', {'id' : 'sauce_id'}) }}'
                    path = path.replace('sauce_id', entity_id)
                    document.getElementById('frame-edit-sauce').src = path;
                    break;
            }
        }
    </script>

{% endblock %}

