{% extends 'base.html.twig' %}
{% trans_default_domain 'form' %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
<a href="{{ path('login') }}" class="btn absolute top-0 left-0 p-8">
    <i class="fa-solid fa-arrow-left pr-2"></i>
    {{ 'back'|trans({}, 'messages') }}
</a>
<div class="flex justify-center items-center w-full h-full px-2 py-8">
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col justify-center items-center mt-10">

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisation de votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {
            label: 'email'|trans,
        }) }}
        <div class="flex flex-col items-center">
            <small class="pb-4">
                Entrez votre adresse email pour recevoir un lien de réinitialisation de votre mot de passe.
            </small>
            <button class="bg-toukan text-white rounded-3xl px-16 py-2 mb-2">
                {{ 'send_email'|trans }}
            </button>
        </div>
    {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
