{% extends 'establishment/base.html.twig' %}

{% block title %}Mes tables{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
    <link rel="stylesheet" href="{{ asset("build/qr-code-printing.css") }}" media="print">
{% endblock %}
{% block body %}
    <h1 class="no-print">{{ 'my_tables'|trans({}, 'table_management') }}</h1>
    <button id="button-add-table" type="button"
            class="transition duration-150 ease-in-out admin-button-add mt-3 no-print text-white p-1 rounded-md" data-bs-toggle="modal"
            data-bs-target="#modal-form-create-table">
        + {{ 'add_table'|trans({}, 'table_management') }}
    </button>

    <div id="establishment-tables" class="no-print">
        {% include 'establishment/partials/tables.html.twig' %}
    </div>

    {% include 'establishment/partials/_modal.html.twig' with {'modal_id' : 'modal-form-create-table', 'modal_title' : 'Table', 'context' : 'table-create'} %}
    {% include 'establishment/partials/_modal.html.twig' with {'modal_id' : 'modal-form-edit-table', 'modal_title' : 'Table', 'context' : 'table-edit'} %}
    <script>
        function set_frame_src(entity_id, context) {
            let path = ''
            switch (context) {
                case 'table_edit':
                    path = '{{ path('app_table_edit', {'id' : 'id'}) }}'
                    path = path.replace('id', entity_id)
                    document.getElementById('frame-edit-table').src = path;
                    break;
            }
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('qr_code_print_selection').addEventListener('click', () => {
                print_qr_code();
            });

            document.querySelectorAll('.qr_code_print_one').forEach(element => {
                element.addEventListener('click', () => {
                    print_qr_code([element])
                });
            });
        })

        function print_qr_code(tableNode) {
            let tables = tableNode || document.querySelectorAll("input[name='qrCodeToPrint']:checked");

            localStorage.setItem('tables_list', JSON.stringify(Array.from(tables).map(table => {
                return {
                    tableId: table.dataset.tableId,
                    tableName: table.dataset.tableName,
                }
            })));

            window.open('{{ path('app_qr_code_print') }}', '', 'width=800,height=600');
        }
    </script>
{% endblock %}
