<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="{{ app.request.attributes.get('_route') == 'home' ? 'bg-salmon' }}">
        <nav class="w-full flex justify-evenly text-light-grey py-2">
            <div class="flex flex-row justify-evenly items-center bg-toukan w-1/6 rounded-2xl">
                <img class="w-1/6" src="{{ asset("assets/img/toukan_sans_fond.png") }}">
                <span>Toukan</span>
            </div>
            <div class="flex flex-row justify-center items-center bg-toukan w-1/6 rounded-2xl">
                <a href="{{ path('home') }}">Mon Espace</a>
            </div>
        </nav>
        <div class="px-12">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
